<div class="card card-accent-dark">
    <div class="card-body">
        <h5 class="card-title" style="font-weight:bold;">{{ ponts.elem_patri }}</h5>
        <div class="card-title">
            {{ ponts.commune }} - N° {{ ponts.identifiant }}
        </div>
        <p class="text text-muted"> {{ ponts.elem_princ }}</p>
    </div>
    <div class="card-footer">
        <h5 class="text-right"><a href="{{ path('index') }}" class="far fa-heart f-left"></a></h5>
    </div>
</div>